.projectsBackgroundImgLeft {
  background-image: url('../../assets/img/project_phone.svg');
  background-size: cover;
  z-index: -10;
  position: absolute;
  left: -10%;
  top: 0;
  width: 110%;
  height: 100%;
  overflow: hidden;
  animation: slide-from-left 0.5s;
}

.projectsBackgroundImgRight {
  background-image: url('../../assets/img/project_phone.svg');
  background-size: cover;
  z-index: -10;
  position: absolute;
  left: -10%;
  top: 0;
  width: 110%;
  height: 100%;
  overflow: hidden;
  animation: slide-from-right-2 0.5s;
}

.projectsBackgroundImgTop {
  background-image: url('../../assets/img/project_phone.svg');
  background-size: cover;
  z-index: -10;
  position: absolute;
  left: -10%;
  top: 0;
  width: 110%;
  height: 100%;
  overflow: hidden;
  animation: slide-from-top 0.5s;
}

.linkTag {
  text-decoration: none;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .projectsBackgroundImgLeft {
    background-image: url('../../assets/img/project_web.svg');
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .projectsBackgroundImgRight {
    background-image: url('../../assets/img/project_web.svg');
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .linkTag {
    width: 10%;
  }
}
