.sliding-tab-bar {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  height: 55px;
  border-radius: 50px;
  padding: 0 8px;
  transition: all 0.5s ease;

}

.tab-underline {
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: -10;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  overflow: hidden;
  border-radius: 50px;
  transition: all 0.5s ease;
}

.tab-button {
  margin: auto 0;
  padding: 0 16px;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 24px;
  font-weight: 300;
  color: rgb(0, 0, 0);
  background-color: transparent;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-family: Jura;
  font-size: 0.8rem;
  font-weight: 900;
  -webkit-tap-highlight-color: transparent;
}

.tab-button.active {
  color: #ffffff;
}
