/* .toolsBackgroundImgContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -9;
  top: 0;
  left: 0;
}

.toolsImg {
  position: absolute;
}

.TagImg {
  top: -15%;
  left: -40%;
}

.ComputerImg {
}

.DataImg {
}

.ErrorImg {
}

.SemiImg {
}

.BracketImg {
} */


/* .toolsBackgroundImg{
    background-image: url('../../assets/img/tools_phone.svg');
    background-size: cover;
    z-index: -10;
    position: absolute;
    left: -10%;
    top: 0;
    width: 110%;
    height: 100%;
    overflow: hidden;
} */

.toolsBackgroundImgLeft{
    background-image: url('../../assets/img/tools_phone.svg');
    background-size: cover;
    z-index: -10;
    position: absolute;
    left: -10%;
    top: 0;
    width: 110%;
    height: 100%;
    overflow: hidden;
    animation: slide-from-left 0.5s;
}

.toolsBackgroundImgRight{
    background-image: url('../../assets/img/tools_phone.svg');
    background-size: cover;
    z-index: -10;
    position: absolute;
    left: -10%;
    top: 0;
    width: 110%;
    height: 100%;
    overflow: hidden;
    animation: slide-from-right 0.5s;
}

.toolsBackgroundImgTop{
    background-image: url('../../assets/img/tools_phone.svg');
    background-size: cover;
    z-index: -10;
    position: absolute;
    left: -10%;
    top: 0;
    width: 110%;
    height: 100%;
    overflow: hidden;
    animation: slide-from-top 0.5s;
}