.wavingDitte {
  width: 90vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.customHeadline {
  font-size: 1.25rem;
  margin-top: 3.5rem;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.homeContainer p {
  margin-top: 1rem;
}

@media only screen and (min-height: 667px) {
  .wavingDitte {
    width: 60vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .homeContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 3rem;
  }

  .wavingDitte {
    width: 25vw;
  }

  .customHeadline {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 1300px) {
  .homeContainer {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin-top: 6rem;
  }

  .wavingDitte {
    width: 31.25vw;
  }

  .customHeadline {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 700px) and (min-height: 500px) {
  .homeContainer {
    gap: 1rem;
    margin-top: 0rem;
  }
}
