.mail,
.CV,
.gitHub,
.linkedIn {
  width: 6rem;
}

.mail:hover {
  transform: scale(1.1);
}

.CV:hover {
  transform: scale(1.1);
}

.gitHub:hover {
  transform: scale(1.1);
}

.linkedIn:hover {
  transform: scale(1.1);
}

.contactImgContainer {
  width: 60vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .contactContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .mail,
  .CV,
  .gitHub,
  .linkedIn {
    width: 6rem !important;
  }

  .contactImgContainer {
    width: 100vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media only screen and (min-height: 667px) {
  .mail,
  .CV,
  .gitHub,
  .linkedIn {
    width: 4rem;
  }

  .contactImgContainer {
    width: 50vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}
