.mail,
.CV,
.gitHub,
.linkedIn {
  width: 6rem;
}

.mail:hover {
  transform: scale(1.1);
}

.CV:hover {
  transform: scale(1.1);
}

.gitHub:hover {
  transform: scale(1.1);
}

.linkedIn:hover {
  transform: scale(1.1);
}

.contactImgContainer {
  width: 60vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;
}
