.backBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Jura;
  width: 2.5rem;
  height: 5rem;
  border-width: 0;
  border-radius: 50px;
  color: #ffffff;
  position: fixed;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade-in 2s;
  z-index: 10;
}

.backBtnPurple {
  background-color: #664f98;
}

.backBtn:hover {
  font-weight: 900;
  cursor: pointer;
}

.arrow {
  margin-bottom: 1rem;
  height: 1.5rem;
  animation: bounce ease-out 0.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 8px, 0);
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.containerProjectImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buddysImg {
  background-image: url('../../../assets/img/buddys.svg');
  width: 80vw;
  height: 65vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition: opacity 0.5s ease-in;
}

.buddysImg:hover {
  background-image: url('../../../assets/img/buddysDarker.svg');
}

.tipsKuponImg {
  background-image: url('../../../assets/img/tipsKupon.svg');
  width: 80vw;
  height: 65vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
  transition: opacity 0.5s ease-in;
}

.tipsKuponImg:hover {
  background-image: url('../../../assets/img/tipsKuponDark.svg');
}

.froggImg {
  background-image: url('../../../assets/img/frogg.svg');
  width: 80vw;
  height: 65vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
  transition: opacity 0.5s ease-in;
}

.froggImg:hover {
  background-image: url('../../../assets/img/froggDarker.svg');
}

.todosImg {
  background-image: url('../../../assets/img/todos.svg');
  width: 80vw;
  height: 65vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
  transition: opacity 0.5s ease-in;
}

.todosImg:hover {
  background-image: url('../../../assets/img/todosDarker.svg');
}

.title {
  font-family: Inter;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.35s ease-in;
  width: 80%;
  padding-bottom: 1rem;
}

.containerProjectImg:hover .title {
  opacity: 1;
}

.projectBtn {
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease-in;
  width: 100px;
  padding: 12px 48px;
  text-align: center;
  font-family: Jura;
  color: white;
  border: solid 1px white;
  border-radius: 10px;
  z-index: 1;
  text-transform: uppercase;
  text-decoration: none;
}

.containerProjectImg:hover .projectBtn {
  opacity: 1;
}

.projectBtn:hover {
  background-color: white;
  color: black;
  font-weight: 900;
}

.purpleBackground {
  background-image: url('../../../assets/img/purplePhone.svg');
  background-size: cover;
  z-index: -10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 175%;
  animation: slide-from-bottom 0.5s;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .projectsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-top: 10rem;
  }

  .buddysImg {
    background-image: url('../../../assets/img/buddys.svg');
    width: 80vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: opacity 0.5s ease-in;
  }

  .tipsKuponImg {
    background-image: url('../../../assets/img/tipsKupon.svg');
    width: 80vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
    transition: opacity 0.5s ease-in;
  }

  .froggImg {
    background-image: url('../../../assets/img/frogg.svg');
    width: 80vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
    transition: opacity 0.5s ease-in;
  }

  .todosImg {
    background-image: url('../../../assets/img/todos.svg');
    width: 80vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
    transition: opacity 0.5s ease-in;
  }

  .purpleBackground {
    height: 110% !important;
    width: 105%;
  }

  .title {
    font-size: 1vw;
  }

  .projectBtn {
    width: 9vw;
    font-size: 1vw;
    padding: 10px 10px;
  }
}

@media only screen and (min-height: 667px) {
  .purpleBackground {
    height: 215%;
  }
}
