svg {
  flex-shrink: 0;
  width: 555px;
  max-width: 90vw;
}

.ditteSVG {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  min-height: calc(35vh - 1rem);
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

.smoke-wrap {
  position: absolute;
  left: -44%;
  transform: translateX(-44%);
  bottom: 222px;
}

.smoke,
.smoke2,
.smoke3,
.smoke4 {
  filter: blur(5px);
  transform-origin: 50% 50%;
}

.smoke {
  animation: smoke1 4s linear infinite;
  animation-delay: 0.5s;
}

.smoke2 {
  animation: smoke2 2s linear infinite;
  animation-delay: 1.5s;
}

.smoke3 {
  width: 500px;
  animation: smoke3 3s linear infinite;
  animation-delay: 2.5s;
}

.smoke4 {
  width: 500px;
  animation: smoke3 1s linear infinite;
  animation-delay: 2.5s;
}

@keyframes smoke1 {
  0% {
    filter: blur(2px);
    transform: translateY(-5px) scale(-1, 1);
    opacity: 0;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(-1, 1.15);
    opacity: 0.8;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(-1, 1.2);
    opacity: 0;
  }
}

@keyframes smoke2 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(1.15);
    opacity: 0.6;
  }

  100% {
    filter: blur(7px);
    transform: translateY(10px) scale(1.2);
    opacity: 0;
  }
}

@keyframes smoke3 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-60px) scale(1.15);
    opacity: 1;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-80px) scale(1.2);
    opacity: 0;
  }
}

@keyframes smoke4 {
  0% {
    filter: blur(0px);
    transform: translateY(-5px) scale(-1, 1);
    opacity: 0;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(-1, 1.15);
    opacity: 0.8;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-10px) scale(-1, 1.2);
    opacity: 0;
  }
}

@media only screen and (min-width: 768px) {
  svg {
    flex-shrink: 0;
    width: 555px;
    max-width: 30vw;
  }
}


@media only screen and (min-height: 667px) {
  svg {
    flex-shrink: 0;
    width: 455px;
    max-width: 80vw;
    display: flex;
    justify-content: flex-end;
  }
}